/*
Bon de commande
*/

/*
ecran
*/

#bonCommande {
  display: block;
  position: relative;
  width: 190mm;
  height: 280mm;
  margin: 10mm;
  padding: 5mm;
  border: 0.2mm solid #00000080;
}

#bonCommande h2 {
  display: block;
  font-family: ralewayregular;
  font-size: 5mm;
}

#bonCommande p {
  display: block;
}

#bonCommande header {
  display: block;
  position: relative;
}

#bonCommande header .adresse {
  display: block;
  height: 30mm;
  width: 60mm;
}

#bonCommande header #expediteur {
  display: block;
  height: 60mm;
  width: 70mm;
  position: absolute;
  top: 0mm;
  left: 10mm;
}

#bonCommande header #expediteur img {
  display: block;
  width: 30mm;
}

#bonCommande header #adresseFacturation {
  position: absolute;
  top: 10mm;
  right: 10mm;
}

#bonCommande header #adresseLivraison {
  position: absolute;
  top: 50mm;
  right: 10mm;
}

#bonCommande header #infoCommande {
  display: block;
  position: absolute;
  top: 80mm;
  left: 10mm;
}

#bonCommande main {
  position: absolute;
  top: 120mm;
  font-family: arial;
}

#bonCommande main table {
  border: 0.2mm solid #000;
  width: 100%;
}

#bonCommande main table th {
  border: 0.2mm solid #000;
  text-align: center;
}

#bonCommande main table td {
  border: 0.2mm solid #000;
}

#bonCommande main table td.produit {
  width: auto;
}

#bonCommande main table td.ean {
  width: auto;
  text-align: center;
}

#bonCommande main table td.ref {
  width: auto;
  text-align: center;
}

#bonCommande main table td.prix {
  width: 20mm;
  text-align: right;
}

#bonCommande main table td.quantite {
  width: 10mm;
  text-align: right;
}

#bonCommande main table td.total {
  width: 26mm;
  text-align: right;
}

#bonCommande footer {
  display: block;
  position: absolute;
  font-family: arial;
  font-size: 4mm;
  color: #000;
  height: 10mm;
  width: 150mm;
  margin: 0mm 15mm;
  bottom: 0mm;
}

/*
impression
*/

@media print {
  header,
  nav,
  h1,
  h2,
  h3,
  p,
  img,
  .footer,
  button.btn {
    display: none;
  }

  #bonCommande {
    display: block;
    margin: 0mm;
    border: none;
  }
}

