#FFFFFF
#FF9900
#CC0033

@font-face {
    font-family: 'ralewayregular';
    src: url('/fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('/fonts/raleway-regular-webfont.woff') format('woff'),
         url('/fonts/raleway-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

#logo{
  height: 4rem;
  width: 4rem;
}

span.invalid{
  color:red;
}

input.invalid{
  box-shadow: 0 0 1rem red;
}


p{
  font-family: 'ralewayregular';
}

article{
  text-align: center;
  vertical-align: top;
  max-width: 500px;
  padding: 5px 10px;
  margin: 50px;
  display: inline-block;
	color: #fff;
	font-weight: bold;
	background: #999;
}

